{
    default_sni 192.168.4.30
}

waltdakind.xubi.org, jellyfin.waltdakind.xubi.org, voltairedeux.local, voltaireun.local, localhost, 192.168.4.30 {
    tls /certs/cert.pem /certs/key.pem

    reverse_proxy jellyfin:8096 {
        lb_policy first
        health_uri /health
        health_interval 10s
    }
}

