{
  "mcpServers": {
    "mediastack-api": {
      "serverUrl": "http://localhost:3000/mcp/sse"
    },
    "gemini": {
      "command": "npx.cmd",
      "args": [
        "-y",
        "@houtini/gemini-mcp"
      ],
      "env": {
        "GEMINI_API_KEY": "YOUR_GEMINI_API_KEY"
      }
    },
    "chrome-devtools": {
      "command": "npx.cmd",
      "args": [
        "-y",
        "chrome-devtools-mcp@latest"
      ]
    }
  }
}
